div {
    text-align: center;
}

h1 {
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 40px;
}
button {
    background-color: blue;
    color: #fff;
    width: 250px;
    height: 90px;
}

button:hover{
    background-color: green;
}